doctype html
html(lang='en')
  head
    block meta
      meta(charset='utf-8')
      meta(name=title, content=title)
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description', content=description)
      meta(name='keywords', content=keywords)
      meta(name='author', content=author)

    block style
      link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
      link(href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900', rel='stylesheet')

body
  block body
  footer.blog-footer.text-center
    p Powered by 
      a(href=npmlink) staticpug 
      | developed by  
      a(href=authergithubprofile)= author
  block script
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  //
    Default Statcounter code for sample
    https://easa.github.io/static-website-template/ 
  script(type='text/javascript').
    var sc_project=12358369;
    var sc_invisible=0;
    var sc_security="082aebef";
    var sc_https=1;
    var scJsHost = "https://";
    document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
  noscript
    .statcounter
      a(title='Web Analytics Made Easy -\
      StatCounter', href='https://statcounter.com/', target='_blank')
        img.statcounter(src='https://c.statcounter.com/12358369/0/082aebef/0/', alt='Web Analytics Made Easy - StatCounter')
  // End of Statcounter Code