extends /../component/layout/default

append script
  script(src='assets/js/main.js')
append style
  link(href='asset/css/style.css' rel='stylesheet')

append body
  -
    var headerContent = [
      {link:'blog', title:'Blog Posts'},
      {link:'https://github.com/easa/staticpug/issues/new', title:'Add New Issue'}
    ]

  .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
    h5.my-0.mr-md-auto.font-weight-normal #{companyName}
    nav.my-2.my-md-0.mr-md-3
      each item in headerContent
        a.p-2.text-dark(href=item.link)= item.title

    a.btn.btn-outline-primary(href='#') Sign up

  .container
    .pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
      h1.display-4 Pricing
      p.lead
        | Welcome to homepage of your website. In order to see your blog posts, please click on 
        a(href='blog') Blog Posts
        | ! and to make new issue on statigpug, please click on 
        a(href='https://github.com/easa/staticpug/issues/new') Add New Issue
        | to navigate to its github page. Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.
    .container
      .card-deck.mb-3.text-center
        each card in cards 
          include /../component/card.pug

    footer.pt-4.my-md-5.pt-md-5.border-top
      -
        var footerItems = [{
          title:'Features',
          items: ['Cool stuff','Random feature','Team feature','Stuff for developers','Another one','Last time']
        },{
          title: 'Resources',
          items: ['Resource','Resource name','Another resource','Final resource']
        },{
          title: 'About',
          items: ['Team','Locations','Privacy','Terms']
        }];

      .row
        .col-12.col-md
          img.mb-2(src='https://getbootstrap.com/assets/brand/bootstrap-solid.svg' alt='' width='24' height='24')
          small.d-block.mb-3.text-muted © #{year}

        each foot in footerItems
          .col-6.col-md
            h5= foot.title
              ul.list-unstyled.text-small
                each item in foot.items
                  li
                    a.text-muted(href='#')= item